<div class="container">
    <div class="headerobjectswrapper row">
        <div class="col-md-12">
            <header class="text-center">Hacker News</header>
        </div>
    </div>
</div>
<div class="subhead text-center">
    <p>New Brunswick, NJ - Thursday August 22, 1978 - Scraped News</p>
    <button class="btn btn-secondary" id="newScrape">Scrape New Articles </button>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 articles content">
            {{#each article}}
            <span class="float-left singleArticle">
                {{image}}
                <p class="colM headlines" data-id="{{_id}}">{{title}} <a href="{{link}}" class="float-left">click on
                        this
                        link to see article</a></p><span>
                    <Button class="delete-note" data-id="{{note}}"><i class="fas fa-trash-alt ml-2 delete-note" data-id="{{note}}"></i></Button>
                </span>
                {{/each}}
        </div>
        <div class="col-lg-4" >
            <div class="form-group mt-4" >
                <div id="notes">
                <img class="card-img-top media" src="https://media.giphy.com/media/7vfhdCIn13zm8/giphy.gif"
                    alt="Card image cap">
                    <p>Look through articles on the left if you want to read the article click the blue link if you would like to leave a comment click the title of the article</p>
           </div>
            </div>
            </div>
        </div>
    </div>
</div>
</div>
