
{{!--  
	<div class="article-item">
		{{image}}
		<h3>{{title}}</h3>
		{{this.}}
		<button class="notes" data-id="{{this.id}}">
			article
		</button>
		{{}}
		<button class="mor-burger delete-burger" data-id="{{this.id}}" href="#">DELETE</button>
	</div>
--}}

{{!-- if needed have partials --}}